bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.CommandLine.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.UserSecrets.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net5.0/Microsoft.Extensions.Hosting.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Hosting.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Console.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Debug.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.EventLog.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.EventSource.dll
bin/Debug/net5.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Options.dll
bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net5.0/SomeKindOfProcessor.deps.json
bin/Debug/net5.0/SomeKindOfProcessor.dll
bin/Debug/net5.0/SomeKindOfProcessor.pdb
bin/Debug/net5.0/SomeKindOfProcessor.runtimeconfig.dev.json
bin/Debug/net5.0/SomeKindOfProcessor.runtimeconfig.json
bin/Debug/net5.0/System.Diagnostics.EventLog.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SomeKindOfProcessor.csproj.nuget.dgspec.json
obj/SomeKindOfProcessor.csproj.nuget.g.props
obj/SomeKindOfProcessor.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/SomeKindOfProcessor.AssemblyInfo.cs
obj/Debug/net5.0/SomeKindOfProcessor.AssemblyInfoInputs.cache
obj/Debug/net5.0/SomeKindOfProcessor.assets.cache
obj/Debug/net5.0/SomeKindOfProcessor.csproj.CopyComplete
obj/Debug/net5.0/SomeKindOfProcessor.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/SomeKindOfProcessor.csproj.FileListAbsolute.txt
obj/Debug/net5.0/SomeKindOfProcessor.csprojAssemblyReference.cache
obj/Debug/net5.0/SomeKindOfProcessor.dll
obj/Debug/net5.0/SomeKindOfProcessor.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/SomeKindOfProcessor.genruntimeconfig.cache
obj/Debug/net5.0/SomeKindOfProcessor.pdb
obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netcoreapp2.1/SomeKindOfProcessor.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/SomeKindOfProcessor.AssemblyInfoInputs.cache
obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.AssemblyInfo.cs
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.AssemblyInfoInputs.cache
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.assets.cache
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.csprojAssemblyReference.cache
obj/Debug/netcoreapp5.0/SomeKindOfProcessor.GeneratedMSBuildEditorConfig.editorconfig
